* {
  font-family: 'Droid Serif', sans-serif;
}

body {
  margin: 0;
}

#share_link {
  position:absolute;
  z-index: 50;
  left: 330px;
  top: 300px;
}

#container {
  position:relative;
  margin: 0 auto 10px;
  width:1100px;
  h1 {
    font-size: 32px;
    line-height: 34px;
    margin: 10px 0px 0 0;
    color: #e6550d;
  }
  h2 {
    margin-top: 10px;
    font-weight: normal;
    line-height: 16px;
    color: #333;
    font-size: 12px;
  }
  h3 {
    margin: 0;
    font-weight: normal;
    color: #666;
  }
  #chart {
    width: 700px;
    float:left;
    padding: 20px;
    path {
      cursor:pointer;
    }
  }
  #sidebar {
    float:left;
    padding-left: 30px;
    width: 330px;
    padding-top: 20px;
//    background: #fafafa;

    button.year_toggle {
      height: 30px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    button.first {
      margin-right: 10px;
    }
    button.year_toggle.active {
      background: #fd8d3c;
      border: 1px solid #e6550d;
    }
    .item_detail {
      margin-top: 20px;
      background: #fafafa;
      border-left: 1px solid #ccc;
      padding: 20px;
      .row {
        margin-bottom: 20px;
        padding-left: 5px;
//        height: 30px;
        .label {
          width: 250px;
          text-transform: uppercase;
          color: #666;
        }
        .value {
          margin-top: 3px;
          color: #e6550d;
          font-size: 24px;
          line-height: 26px;
//          font-weight: bold;
        }
        .value.description {
          font-size: 12px;
          line-height: 14px;
        }
        .value.source {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  #footer {
    clear:both;
    color: #888;
    font-size: 11px;
  }
  .total_head {
    font-size: 11px;
    font-weight: bold;
    fill: #666;
    text-transform: uppercase;
    cursor: pointer;
  }
  text.total_body {
    font-size: 32px;
    fill: #E6550D;
    cursor: pointer;
  }
  .click_reset {
    fill: #999;
    font-size: 10px;
    cursor: pointer;
  }

}

#narrow_container {
  margin: 0 auto;
  width:940px;
  h1 {
    font-size: 56px;
    line-height: 60px;
    margin: 30px 0px 0 0;
    color: #e6550d;
    font-family: "Arvo", verdana, sans-serif;
  }
  h2 {
    margin-top: 5px;
    font-weight: normal;
    color: #333;
    font-size: 14px;
  }
  h3 {
    margin: 0;
    font-weight: normal;
    color: #666;
  }
  #chart {
    width: 600px;
    margin: 15px 0;
    float:left;
    path {
      cursor:pointer;
    }
  }
  #sidebar {
    float:left;
    padding-left: 40px;
    width: 300px;
    padding-top: 20px;

    button.year_toggle {
      height: 30px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    button.first {
      margin-right: 10px;
    }
    button.year_toggle.active {
      background: #fd8d3c;
      border: 1px solid #e6550d;
    }
    .option {
      .title {
//        height: 30px;
        display: inline-block;
        padding: 0 5px;
        color: #333;
        display:none;
      }
    }
    .item_detail {
      margin-top: 20px;
      background: #fafafa;
      border-left: 1px solid #ccc;
      padding: 10px;
      .row {
        margin-bottom: 20px;
        padding-left: 5px;
//        height: 30px;
        .label {
          width: 250px;
          text-transform: uppercase;
          color: #666;
          font-size: 12px;
          line-height: 14px;
        }
        .value {
          color: #e6550d;
          font-size: 20px;
          line-height: 24px;
//          font-weight: bold;
        }
        .value.description {
          font-size: 15px;
          line-height: 17px;
        }
        .value.source {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  #footer {
    clear:both;
    color: #888;
    font-size: 11px;
  }
  .total_head {
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    cursor: pointer;
  }
  text.total_body {
    font-size: 32px;
    color: #E6550D;
    cursor: pointer;
  }
  .click_reset {
    fill: #999;
    font-size: 10px;
    cursor: pointer;
  }

}
