* {
  font-family: 'Droid Serif', sans-serif;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  overflow-y: scroll;
  position: relative;
}

a, a:hover, a:visited {
  color: #e6550d;
}

.searchHeading {

  padding: 15px 5px 0 5px;
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
}

.tt-dropdown-menu {
  background: #fff;
  width: 318px;
  max-height: 600px;
  overflow-y: auto;
  padding: 5px;
  padding-bottom: 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.breadcrumb, .breadcrumb_text {
  cursor: pointer;
}

.tt-hint {
  display:none;
}

.tt-suggestion {
  cursor: pointer;
  padding: 1px 15px;
  margin: 5px 5px 0 5px;
  background: #eaeaea;
}


.tt-suggestion.tt-cursor {
  background: rgb(230, 85, 13);
  color: #fff;
}

.tt-suggestions {
  border: none;
}


#searchBox {
  width: 302px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  outline: none;
  color: #666;
}

#chart_container {
  width:740px;
  float:left;
  position: relative;
}

#breadcrumbs {
  padding: 15px 0 0;
  width: 700px;
  height: 50px;
}

.breadcrumb_text {
  font-size: 11px;
  fill: #fff;
}

#container {
  position:relative;
  margin: 0 auto;
  width:1100px;
  h1 {
    font-size: 32px;
    line-height: 34px;
    margin: 0px 0px 20px 0;
    color: #e6550d;
  }
  h2 {
    margin-top: 10px;
    font-weight: normal;
    line-height: 16px;
    color: #333;
    font-size: 12px;
  }
  h3 {
    margin: 0;
    font-weight: normal;
    color: #666;
  }
  #chart {
    width: 700px;
    padding: 20px;
    path {
      cursor:pointer;
    }
  }

  #toggles {
    padding: 20px;
    text-align: center;
    button.year_toggle {
      height: 30px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    button.year_toggle:hover {
      background:#fd8d3c;
      border: 1px solid #e6550d;

    }
    button.year_toggle.active {
      background: #e6550d;
      border: 1px solid #e6550d;
      color: #fff;
    }
    #showChangesBtn {
      float:right;

      width: 130px;
      border: 1px solid #e6550d;
      background: white;
      height: 32px;
      text-transform: uppercase;
      font-size: 12px;
      cursor: pointer;
    }
    #showChangesBtn.active {
      background: #e6550d;
      color: #fff;
    }
  }
  #sidebar {
    float:left;
    padding-left: 30px;
    width: 330px;
    padding-top: 20px;
//    background: #fafafa;


    .item_detail {
      margin-top: 20px;
      background: #fafafa;
      border: 1px dashed #e6550d;
      padding: 20px;
      height: 500px;
      .item_name_container {
        width: 284px;
        height: 80px;
        margin-bottom: 5px !important;
        display:block;
        overflow-y: hidden;
      }
      .row {
        margin-bottom: 20px;
        padding-left: 5px;
//        height: 30px;
        .label {
          width: 250px;
          text-transform: uppercase;
          color: #666;
          font-size: 12px;
        }
        .share_container {
          width: 90px;
          float:left;
          position: relative;
          h4 {
            font-weight: normal;
            font-size: 10px;
            line-height: 11px;
            margin: 0;
            color: #666;
            text-align: center;
            text-transform: uppercase;
          }
          .chart_label {
            position: absolute;
            width: 90px;
            left: 0;
            top: 47px;
            text-align:center;
            color: #e6550d;
            font-size: 12px;
          }
        }
        .share_chart{

        }
        .value {
          margin-top: 3px;
          color: #e6550d;
          font-size: 24px;
          line-height: 26px;
//          font-weight: bold;
        }
        .value.description {
          font-size: 12px;
          line-height: 14px;
        }
        #item_name.value {
          font-size: 16px;
          line-height: 20px;
        }
        #item_name.value.small {
          font-size: 12px;
          line-height: 16px;
        }
        .value.source {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
  #footer {
    clear:both;
    color: #888;
    font-size: 12px;
    line-height: 22px;
    padding-top: 0 20px;
    .description {
      float:left;
      width: 965px;
    }
    .twitter_share {
      float:left;
      width: 65px;
    }
    .facebook_share {
      float:left;
      width: 65px;
    }
  }
  .total_head {
    font-size: 11px;
    font-weight: bold;
    fill: #666;
    text-transform: uppercase;
    cursor: pointer;
  }
  text.total_body {
    font-size: 32px;
    fill: #E6550D;
    cursor: pointer;
  }
  text.total_caption {
    font-size: 12px;
    fill: #666;
    text-transform: uppercase;
  }
  .click_reset {
    fill: #999;
    font-size: 10px;
    cursor: pointer;
  }

}

.wrapper-dropdown-2 {
    /* Size and position */
    float:left;
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 110px;
    padding: 8px 25px 8px 0px;
    /* Styles */
    background: #fff;
    border: 1px solid #e6550d;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    ul {
      margin: 0;
      padding: 0;
    }
}

.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;

    /* Styles */
    background: white;
    transition: all 0.3s ease-out;
    list-style: none;
    border: 1px solid #e6550d;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease-out;
}


/* Hover state */

.wrapper-dropdown-2 .dropdown li:hover a {
  background: #fd8d3c;
}

.wrapper-dropdown-2.active {
    background: #e6550d;
    color: #fff;
}

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
    border-color: white transparent;
}

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.fade_background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #fff;
  opacity: 0.8;
}

.coming_soon_text {
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -440px;
  font-size: 28px;
  font-weight: bold;
  color: #777;
  z-index: 8;
}