* {
  font-family: 'Droid Serif', sans-serif; }

body {
  margin: 0; }

#share_link {
  position: absolute;
  z-index: 50;
  left: 330px;
  top: 300px; }

#container {
  position: relative;
  margin: 0 auto 10px;
  width: 1100px; }
  #container h1 {
    font-size: 32px;
    line-height: 34px;
    margin: 10px 0px 0 0;
    color: #e6550d; }
  #container h2 {
    margin-top: 10px;
    font-weight: normal;
    line-height: 16px;
    color: #333;
    font-size: 12px; }
  #container h3 {
    margin: 0;
    font-weight: normal;
    color: #666; }
  #container #chart {
    width: 700px;
    float: left;
    padding: 20px; }
    #container #chart path {
      cursor: pointer; }
  #container #sidebar {
    float: left;
    padding-left: 30px;
    width: 330px;
    padding-top: 20px; }
    #container #sidebar button.year_toggle {
      height: 30px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #ccc;
      cursor: pointer; }
    #container #sidebar button.first {
      margin-right: 10px; }
    #container #sidebar button.year_toggle.active {
      background: #fd8d3c;
      border: 1px solid #e6550d; }
    #container #sidebar .item_detail {
      margin-top: 20px;
      background: #fafafa;
      border-left: 1px solid #ccc;
      padding: 20px; }
      #container #sidebar .item_detail .row {
        margin-bottom: 20px;
        padding-left: 5px; }
        #container #sidebar .item_detail .row .label {
          width: 250px;
          text-transform: uppercase;
          color: #666; }
        #container #sidebar .item_detail .row .value {
          margin-top: 3px;
          color: #e6550d;
          font-size: 24px;
          line-height: 26px; }
        #container #sidebar .item_detail .row .value.description {
          font-size: 12px;
          line-height: 14px; }
        #container #sidebar .item_detail .row .value.source {
          font-size: 12px;
          line-height: 14px; }
  #container #footer {
    clear: both;
    color: #888;
    font-size: 11px; }
  #container .total_head {
    font-size: 11px;
    font-weight: bold;
    fill: #666;
    text-transform: uppercase;
    cursor: pointer; }
  #container text.total_body {
    font-size: 32px;
    fill: #E6550D;
    cursor: pointer; }
  #container .click_reset {
    fill: #999;
    font-size: 10px;
    cursor: pointer; }

#narrow_container {
  margin: 0 auto;
  width: 940px; }
  #narrow_container h1 {
    font-size: 56px;
    line-height: 60px;
    margin: 30px 0px 0 0;
    color: #e6550d;
    font-family: "Arvo", verdana, sans-serif; }
  #narrow_container h2 {
    margin-top: 5px;
    font-weight: normal;
    color: #333;
    font-size: 14px; }
  #narrow_container h3 {
    margin: 0;
    font-weight: normal;
    color: #666; }
  #narrow_container #chart {
    width: 600px;
    margin: 15px 0;
    float: left; }
    #narrow_container #chart path {
      cursor: pointer; }
  #narrow_container #sidebar {
    float: left;
    padding-left: 40px;
    width: 300px;
    padding-top: 20px; }
    #narrow_container #sidebar button.year_toggle {
      height: 30px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #ccc;
      cursor: pointer; }
    #narrow_container #sidebar button.first {
      margin-right: 10px; }
    #narrow_container #sidebar button.year_toggle.active {
      background: #fd8d3c;
      border: 1px solid #e6550d; }
    #narrow_container #sidebar .option .title {
      display: inline-block;
      padding: 0 5px;
      color: #333;
      display: none; }
    #narrow_container #sidebar .item_detail {
      margin-top: 20px;
      background: #fafafa;
      border-left: 1px solid #ccc;
      padding: 10px; }
      #narrow_container #sidebar .item_detail .row {
        margin-bottom: 20px;
        padding-left: 5px; }
        #narrow_container #sidebar .item_detail .row .label {
          width: 250px;
          text-transform: uppercase;
          color: #666;
          font-size: 12px;
          line-height: 14px; }
        #narrow_container #sidebar .item_detail .row .value {
          color: #e6550d;
          font-size: 20px;
          line-height: 24px; }
        #narrow_container #sidebar .item_detail .row .value.description {
          font-size: 15px;
          line-height: 17px; }
        #narrow_container #sidebar .item_detail .row .value.source {
          font-size: 12px;
          line-height: 14px; }
  #narrow_container #footer {
    clear: both;
    color: #888;
    font-size: 11px; }
  #narrow_container .total_head {
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    cursor: pointer; }
  #narrow_container text.total_body {
    font-size: 32px;
    color: #E6550D;
    cursor: pointer; }
  #narrow_container .click_reset {
    fill: #999;
    font-size: 10px;
    cursor: pointer; }
