* {
  font-family: 'Droid Serif', sans-serif;
}

body {
  margin: 0;
  overflow-y: scroll;
}

.searchHeading {

  padding: 15px 5px 0 5px;
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
}

.tt-dropdown-menu {
  background: #fff;
  width: 316px;
  max-height: 500px;
  overflow-y: auto;
  padding: 5px;
  padding-bottom: 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.breadcrumb, .breadcrumb_text {
  cursor: pointer;
}

.tt-hint {
  display:none;
}

.tt-suggestion {
  cursor: pointer;
  padding: 1px 15px;
  margin: 5px 5px 0 5px;
  background: #eaeaea;
}


.tt-suggestion.tt-cursor {
  background: rgb(230, 85, 13);
  color: #fff;
}

.tt-suggestions {
  border: none;
}


#searchBox {
  width: 300px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  outline: none;
  color: #666;
}

#chart_container {
  width:740px;
  float:left;
}

#breadcrumbs {
  padding: 15px 0;
  width: 700px;
  height: 70px;
}

.breadcrumb_text {
  font-size: 11px;
  fill: #fff;
}

#container {
  position:relative;
  margin: 0 auto;
  width:1100px;
  h1 {
    font-size: 32px;
    line-height: 34px;
    margin: 10px 0px 0 0;
    color: #e6550d;
  }
  h2 {
    margin-top: 10px;
    font-weight: normal;
    line-height: 16px;
    color: #333;
    font-size: 12px;
  }
  h3 {
    margin: 0;
    font-weight: normal;
    color: #666;
  }
  #chart {
    width: 700px;
    float:left;
    padding: 20px;
    path {
      cursor:pointer;
    }
  }
  #sidebar {
    float:left;
    padding-left: 30px;
    width: 330px;
    padding-top: 20px;
//    background: #fafafa;

    button.year_toggle {
      height: 30px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    button.first {
      margin-right: 10px;
    }
    button.year_toggle.active {
      background: #fd8d3c;
      border: 1px solid #e6550d;
    }
    .item_detail {
      margin-top: 20px;
      background: #fafafa;
      border-left: 1px solid #ccc;
      padding: 20px;
      .item_name_container {
        width: 284px;
        height: 80px;
        margin-bottom: 5px !important;
        display:block;
        overflow-y: hidden;
      }
      .row {
        margin-bottom: 20px;
        padding-left: 5px;
//        height: 30px;
        .label {
          width: 250px;
          text-transform: uppercase;
          color: #666;
        }
        .value {
          margin-top: 3px;
          color: #e6550d;
          font-size: 24px;
          line-height: 26px;
//          font-weight: bold;
        }
        .value.description {
          font-size: 12px;
          line-height: 14px;
        }
        #item_name.value {
          font-size: 16px;
          line-height: 20px;
        }
        #item_name.value.small {
          font-size: 12px;
          line-height: 16px;
        }
        .value.source {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  #footer {
    clear:both;
    color: #888;
    font-size: 11px;
  }
  .total_head {
    font-size: 11px;
    font-weight: bold;
    fill: #666;
    text-transform: uppercase;
    cursor: pointer;
  }
  text.total_body {
    font-size: 32px;
    fill: #E6550D;
    cursor: pointer;
  }
  .click_reset {
    fill: #999;
    font-size: 10px;
    cursor: pointer;
  }

}

#narrow_container {
  margin: 0 auto;
  width:940px;
  h1 {
    font-size: 56px;
    line-height: 60px;
    margin: 30px 0px 0 0;
    color: #e6550d;
    font-family: "Arvo", verdana, sans-serif;
  }
  h2 {
    margin-top: 5px;
    font-weight: normal;
    color: #333;
    font-size: 14px;
  }
  h3 {
    margin: 0;
    font-weight: normal;
    color: #666;
  }
  #chart {
    width: 600px;
    margin: 15px 0;
    float:left;
    path {
      cursor:pointer;
    }
  }
  #sidebar {
    float:left;
    padding-left: 40px;
    width: 300px;
    padding-top: 20px;

    button.year_toggle {
      height: 30px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    button.first {
      margin-right: 10px;
    }
    button.year_toggle.active {
      background: #fd8d3c;
      border: 1px solid #e6550d;
    }
    .option {
      .title {
//        height: 30px;
        display: inline-block;
        padding: 0 5px;
        color: #333;
        display:none;
      }
    }
    .item_detail {
      margin-top: 20px;
      background: #fafafa;
      border-left: 1px solid #ccc;
      padding: 10px;
      .row {
        margin-bottom: 20px;
        padding-left: 5px;
//        height: 30px;
        .label {
          width: 250px;
          text-transform: uppercase;
          color: #666;
          font-size: 12px;
          line-height: 14px;
        }
        .value {
          color: #e6550d;
          font-size: 20px;
          line-height: 24px;
//          font-weight: bold;
        }
        .value.description {
          font-size: 15px;
          line-height: 17px;
        }
        .value.source {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  #footer {
    clear:both;
    color: #888;
    font-size: 11px;
  }
  .total_head {
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    cursor: pointer;
  }
  text.total_body {
    font-size: 32px;
    color: #E6550D;
    cursor: pointer;
  }
  .click_reset {
    fill: #999;
    font-size: 10px;
    cursor: pointer;
  }

}
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
